.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgb(0 0 0 / 35%);
    
    display: none;
    z-index: 100;
}

.modal__content{
    min-width: 15.6rem;
    
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px #c7c7c7;

    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.modal.active{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}