.feedback{
    width: 100%;
    height: 100vh;
}

.feedback__wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.feedback__form{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__area{
    width: 65%;
    height: 40%;

    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    font-size: 1.1rem;
    outline: none;
    border: none;

    padding: 1rem 1rem 0 2rem;
    margin-bottom: 3rem;

    transition: .3s ease-in-out;
}

.feedback__area:focus{
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 9px -1px, rgb(0 0 0 / 30%) 0px 1px 6px -1px;
}