.header{
    width: 100%;
    background-color: #fff;

    box-shadow: 0px 0px 5px 2px  #c7c7c7;

    position: relative;
    z-index: 100;
}

.menu {
  line-height: 2.35rem;
}

.menu__wrapper,
.menu__links,
.menu__link-reg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__logo a{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    color: #000;

    transition: filter .3s ease-in-out;
}

.menu__logo a:hover{
  filter: contrast(1.2);
}

.menu__link:not(:last-child){
    padding-right: 1rem;
}

.link, 
.link-active {
  text-decoration: none;
  color: #000;
  font-size: 1rem;

  transition: color .3s ease-in-out;
}

.link:not(:last-child){
  padding-right: 1rem;
}

.link-active{
  color: rgb(0, 153, 255);
  padding-right: 1rem;
}

.image__wrapper{
  width: 2rem;
  height: 2rem;
  padding-top: 0.3rem;
}

.logo__img{
  max-width: 100%;
}

.menu__login__title{
  cursor: pointer;
}

.user__link{
  display: flex;
  align-items: center;
}

.user__name{
  padding-left: 1rem;
}

.link__img{
  max-width: 38px;
  max-height: 38px;

  border-radius: 50%;
  padding: 0.35rem;

  box-shadow: rgb(17 17 26 / 10%) 0px 2px 6px, rgb(17 17 26 / 5%) 0px 0px 30px;

  transition: background .3s ease-in-out;
}

.link-active .link__img{
  background-color: #00d9ff49;
}

.link__img img{
  width: 100%;
  height: auto;
}