.reg__title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    margin: 2rem 0rem;
}

.reg__content input{
    margin: 1rem 0rem;
}

.reg__btns{
    width: 100%;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message{
    margin-top: 1rem;
    font-size: 0.75rem;
}

.message__default{
    color: rgba(0, 0, 0, 0.452);
}

.message__error{
    color: rgb(255, 0, 0);
}