.trade{
    margin-top: 2rem;
    position: relative;
}

.trade__title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.trade__navigation{

    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.trade__navigation--item{
    padding: 1rem 0rem;

    text-align: center;

    width: 30%;
    background-color: rgb(224, 224, 224);

    transition: .3s ease-in-out;
}

.trade__navigation .active{
    background-color: transparent;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
    font-weight: 600;
    color: #000;
}

.center{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.trade__item__content{
    padding-top: 4rem;
    height: 30rem;
}

.exchange{
    display: flex;
    justify-content: space-around;
}

.flex-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade__pagination{
   margin-top: 3rem;
   width: 100%;
}

.pagination__btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page__get .book__category{
    margin: 0 auto;
}

.page__get .accordion{
    overflow: revert;
    height: auto;
    padding: 0;
}

.trade__delivery{
    display: flex;
    justify-content: space-between;
}

.delivery__address {
    width: 50%;
}

.delivery__user {
    width: 45%;
}

.delivery__address .block__wrapper{
    display: block;
}

.trade .block__wrapper .user__field-index, 
.trade .block__wrapper .user__field-city,
.trade .block__wrapper .user__field-street{
    width: 100%;
}