.btn {
    width: 200px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    outline: none;

    border: 1px solid #eff1f4;
    position: relative;

    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #000;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #00000021;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: #000;
    font-size: 1rem;
  }